.menu{
    width:150px;
    display:block;

}

a{
    font-size: xx-large;
    text-align: center;
}

a:hover{
    color:seashell;
    background-color: silver;
}

h1{
    color:crimson;
}

p{
    font-family: cursive;
}

body{
    background-color: blanchedalmond;
}

.container{
    border-radius: 6px;
    background-color: cornsilk;
    padding: 21px;
}

input[type=text] {
    width:90%;
    padding:13px;
    border: dotted;
    border-radius:5px;
    box-sizing:border-box;
    margin-top: 6px;
    margin-bottom: 10px;
}

input[type=text]:hover {
    background-color: crimson;
}

input[type=number] {
    width:90%;
    padding:13px;
    border:dotted;
    border-radius:5px;
    box-sizing:border-box;
    margin-top: 6px;
    margin-bottom: 10px;
}

input[type=number]:hover {
    background-color: crimson;
}

button{
    font-size: x-large;
}