body{
    background-color: blueviolet;
}

h1{
    background-color: burlywood;
    text-align:center;
    border:dotted;
    font-size: xx-large;
}

h2{
    font-size: x-large;
    text-align: center;
}

a {
    color:white;
}

a:hover {
    background-color: chartreuse;
    color:crimson;
    font-size: larger;
    text-align: center;
}

p{
    font-size: large;
}

.first{
    font-size: large;
}
