body{
    background-color: darkgray;
}

a{
    display:block;
}

a:hover{
    background-color: rosybrown;
    color: white;
    font-size: large;
}

header{
    text-align: center;
}

.cv section{
    text-align: left;
    margin-left:200px;
    margin-right: 200px;
}

section p{
    font-size: large;
    font-family: cursive;
}

@media screen and (max-width:700px) {
    section{
        width:90%;
        height:auto;
    }
    
}